# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Archivos de entorno y configuración local
.env
.env.*

# Archivos de construcción y dependencias
.cache/
.next/
.nuxt/
coverage/

# Archivos de seguridad
*.pem
*.key
*.crt

# Archivos temporales y de caché
*.tmp
*.temp

# Otros archivos innecesarios
*.log.*
*.pid
*.seed
*.pid.lock

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.toml
__pycache__/

drl_benchmark_log.txt
