html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000000;
}

#sphere-container {
  z-index: 10;
  width: 100%; /* Full width */
  height: 100%; /* Set a fixed height or use a percentage */
  position: relative; /* Ensure it can contain absolutely positioned children */
}