/* Full-screen Galaxy background */
.galaxy-root,
.galaxy-container {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* behind UI */
}

canvas.galaxy-canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
.galaxy-container {
  width: 50%;
  height: 50%;
  position: relative;
}
